* {
    padding: 3px;
}

body {
  margin: 0px;
  color: white;
  background-color: rgb(31, 91, 218);
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 50px;
}

.margin-5 {
  margin: 5px;
}

.padding-5 {
  padding: 5px;
}

.borders {
    border-style: solid;
    border-color:antiquewhite;
    border-radius: 10%;
}